<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.xiaomo.user.mapper.UserMapper">

    <select id="findById" resultType="io.xiaomo.user.entity.User">
        SELECT * FROM t_user where id = #{id}
    </select>

    <select id="getList" resultType="io.xiaomo.user.entity.User">
        select * from t_user
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="username != null and username != ''">
                username = #{username}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="io.xiaomo.user.entity.User">
    </insert>

    <update id="update">

    </update>

    <delete id="delete">

    </delete>

</mapper>